html {
	background-color: #ddd;
}
table, th, td {
	border: 1px solid #ddd;
	border-top: none;
	border-left: none;
	border-collapse: collapse;
	text-align: center;
	font-size: large;
}

#usernameRow {
	background-color: #aaa;
}

table {
	width: 100%;
}

th, td {
	width: 7em;
}

table tr:nth-child(2n) {
    background-color: #eee;
}
table tr:nth-child(2n+1) {
   background-color: #fff;
}

#taskName {
}
