/*
 * Both /main and /results
 */

html {
	background-color: #ddd;
}



/*
 * Only /main
 */

#leftSide {
	position: fixed;
	top: 0;
	left: 0%;
	width: 26%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

#taskList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}

#rightSide {
	position: fixed;
	top: 0;
	left: 26%;
	width: 74%;
	height: 100%;
	display: flex;
	flex-flow: column;
}

#nameAndSubmit {
	width: 100%;
	margin: 0.5em;
}

textarea {
	width: 100%;
	flex: 1 1 auto;
}

input[type="text"] {
  padding: 0.2em;
  border: solid 0.3em #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus, input[type="text"].focus {
  border: solid 0.3em #969696;
}
input[type=radio] {
	display:none;
}
/* Animations on hover */
label {
	transition: background .15s ease-in-out;
	-moz-transition: background .15s ease-in-out;
	-webkit-transition: background .15s ease-in-out;
}
input[type=radio] + label {
    display:inline-block;
	width: 100%;
    padding: 0.7em 1em;
	margin: 0.1em;
    background-color: #e7e7e7;
}
input[type=radio]:checked + label {
	background-color: #70cc37;
}
input + label:hover {
	background-color: #c5c5c5;
}



/*
 * Only /results
 */

table, th, td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	text-align: center;
	font-size: large;
}

#usernameRow {
	background-color: #aaa;
}

table {
	width: 100%;
}

th, td {
	width: 7em;
}

table tr:nth-child(2n) {
    background-color: #eee;
}
table tr:nth-child(2n+1) {
   background-color: #fff;
}



/*
 * Only /login
 */
#loginBox_outer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#loginBox_inner {
	width: 50%;
	margin: 0 auto;
}
#passwordInput, #usernameInput {
	width: 100%;
}
