/*
 * All
 */

html {
	/*background-color: #ddd;*/
	color: #404040;
	background: #0ca3d2;
	font-family: monospace;
}
hr {
	width: 100%;
	color: white;
}



/*
 * Only /
 */

#leftSide {
	position: fixed;
	top: 0;
	left: 0%;
	width: 26%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

#taskList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

#rightSide {
	position: fixed;
	top: 0;
	left: 26%;
	width: 74%;
	height: 100%;
}

#scrlWrapper {
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	display: flex;
	flex-flow: column;
}

#submSplit {
	display: flex;
	flex-flow: row;
}

#submissionsList {
	margin-right: 1em;
}

.submission {
	width: 100%;
	margin: 0.3em;
}

.testing { background-color: #0b7da0; }
.wrong { background-color: #0c8db5; }
.ok { background-color: #7cb50c; }
.partial { background-color: #afdb57; }

#buttonPanel {
	width: 100%;
	margin: 0.5em;
}

textarea {
	background: #5ad0f4;
	width: 100%;
	max-height: 40%;
	flex: 1 1 auto;
	margin: 1%;
}

input[type=radio] {
	display:none;
}
/* Animations on hover */
label {
	transition: background .15s ease-in-out;
	-moz-transition: background .15s ease-in-out;
	-webkit-transition: background .15s ease-in-out;
}
input[type=radio] + label {
    display:inline-block;
	width: 100%;
    padding: 0.7em 1em;
	margin: 0.1em;
    /*background-color: #e7e7e7;*/
	background-color: #64cfef;
}
input[type=radio]:checked + label {
	/*background-color: #70cc37;*/
	background-color: #115b72;
	color: white;
}
input + label:hover {
	/*background-color: #c5c5c5;*/
	background-color: #1fa9d3;
}



/*
 * Only /results
 */

table, th, td {
	border: 1px solid #ddd;
	border-collapse: collapse;
	text-align: center;
	font-size: large;
}

#usernameRow {
	background-color: #aaa;
}

table {
	width: 100%;
}

th, td {
	width: 7em;
}

table tr:nth-child(2n) {
    background-color: #eee;
}
table tr:nth-child(2n+1) {
   background-color: #fff;
}



/*
 * Only /login
 */
#loginBox_outer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#loginBox_inner {
	width: 50%;
	border-radius: 4px;
	background-color: #64cfef;
}
#loginBox_inner h1 {
	text-align: center;
}
#passwordInput, #usernameInput, #loginSubmit {
	width: 80%;
	margin: 0 10%;
}
